<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akeena's Sensehat Project</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div id='main_content' >
        <div class="sticky_image">
            <div id="header"> 
                <h1> IoT Demo</h1>
            </div>
        </div>  
        <p> Welcome Makers! Let me introduce you to the world of Internet of Things</p>
        <p> Put in simply, the Internet of Things is a term that describes the network between hardware and software.
            This demo will demonstrate IoT!</p>
        <h3>Instructions</h3>
        <p> Type your name and a message into the form and press enter!</p>
        <div id='form_div'> 
            <form action="/sucess" method="post">
                <label for="user_name"> Enter name:</label> <br>
                <input type='text' name='user_name'/> <br>
                <label for='message'> Enter a message: </label> <br>
                <input type='text' name="message"/>
                <input type="submit"/>
            
            </form>
        </div>
    </div>
    
    
</body>
</html>