h2{
	text-align: right;
	font-size: 35px;
	color: #6a32db;
}
nav{
	font-size: 20px;
	padding: 15PX;
	background-color: white;
	margin-bottom: 25px;
}

h1{
	font-family: 'Times New Roman', serif;
	color: white;
	text-align: center;
	border: 15px;
	border-style: dotted;
	border-color: #9e28ff;
	font-size: 25px;
	
}
/* The following code will hide the main divs, this is so in script, when the button is clicked, the sections will show */
div{/* This cide is for the background color for all the div; will make all the sections different colors*/
	display: none;
	border: 20px;
	background-color: black;
	margin: 15px;
	padding: 20px 5px;
}
/* */

#port{
	font-family: 'Georgia', san-serif;
	font-style: italic;
	font-size: 50px;
}
#about p{
	color: pink;
	font-family: 'Impact', serif;
}

#experience ul{
	color:yellow;
	text-align: center;
}

/* Code to make the link aligned to the right.*/
nav ul {
	display: block;
	float: right;
	

}

/* Code to make the links aligned horizontally*/
nav li {
	display: inline;
	padding: 20px 50px;
	

}

#computerClassSetup{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
article{
	color:white;
	display: block;
	
	margin-right: auto;
}

footer {
	border:20px;
	background-color: #F75EC5;
	margin: 15px;
	padding: 20px 15px;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
