header{ /*This is code for the header for the page; this code adds has a border for the header */

	
	background-image: url("headerimage.png");
	color: white;
	font-size: 50px;
}
nav{
	font-size: 20px;

}

h1{
	font-family: 'Times New Roman', san-serif;
	color: white;
	text-align: center;
	border: 10px;
	border-style: dashed;
	border-color: #9e28ff;
	
}
#about p{
	color: pink;
	font-family: 'Impact', serif;
}
#experience ul{
	color:pink;
	text-align: center;
}

/* Code to make the link aligned to the right.*/
nav ul {
	display: block;
	float: right;
	

}

/* Code to make the links aligned horizontally*/
nav li {
	display: inline;
	padding: 20px 50px;
	

}

#computerClassSetup{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
article{
	color:white;
	display: block;
	
	margin-right: auto;
}
div{/* This cide is for the background color for all the div; will make all the sections different colors*/
	
	border: 20px;
	background-color: black;
	margin: 15px;
	padding: 20px 5px;
}
footer {
	border:20px;
	background-color: #F75EC5;
	margin: 15px;
	padding: 20px 15px;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
