body{
	background-color: #15ffbe;

}
h1{
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	text-align: center;
	font-size: 40px;
	color: #f84539;
}

nav{
	font-size: 20px;
	padding-left : 15PX;
	margin-bottom: 50px;
	text-align: center;

}
/* changing the color of the hyperlink */
a{
	color: white;
}

h2{
	font-family: 'Times New Roman', serif;
	color: white;
	text-align: center;
	border: 15px;
	border-style: groove;
	border-color: #9e28ff;
	font-size: 25px;
	
}
/* p for contact */
#contactP{
	text-align: center;
}
/* size for instagram logo */

.footer-image{
	width: 15%;
}
/* The following code will hide the main divs, this is so in script, when the button is clicked, the sections will show */
#about {/* This div is for the background color for all the div; will make all the sections different colors*/
	display: none;
	border: 20px;
	background-color: #ef719e;
	margin: 15px;
	padding: 20px 5px;

}
#experience {
	display: none;
	border: 20px;
	background-color:  #ef719e;
	margin: 15px;
	padding: 20px 5px;
}
#projects {
	display: none;
	border: 20px;
	background-color:  #ef719e;
	margin: 15px;
	padding: 20px 5px;
}
/* */


#about p{
	color: white;
	font-family: 'Tahoma', sans-serif;
}

#experience ul{
	color: black;
	text-align: center;

}
#experienceP{
	font-size: 20px;
}


/* Code to make the links aligned horizontally*/
nav li {
	display: inline;
	padding: 20px 50px;
	

}

#computerClassSetup{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
article{
	color:white;
	display: block;
	
	margin-right: auto;
}

footer {
	border:20px;
	background-color: #ef719e;
	margin: 15px;
	padding: 20px 15px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
/* editing images for about me section */
#aboutmepic{
	width: 25%;
	display: block;
	margin-right: auto; 
	margin-right

}

/*testing w3schools code for slideshow */


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  /*margin: auto;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Next & previous buttons */
.prev, .next {
  /*cursor: pointer; */
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,55,25,0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #63ff7f;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #63ff7f;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

