nav{
	font-size: 20px;

}

h1{
	font-family: 'Times New Roman', san-serif;
	color: lightpink;
	text-align: center;
	border: 10px;
	border-style: dashed;
	border-color: #9e28ff;
	
}
#about p{
	color: pink;
	font-family: 'Impact', serif;
}
#about{
	border: 10px;
	padding: 15px 0px;
	margin: 30px;
}
/* Code to make the link aligned to the right.*/
nav ul {
	display: block;
	float: right;
	

}
/* Code to make the links aligned horizontally*/
nav li {
	display: inline;
	padding: 20px 50px;
	

}
#computerClassSetup{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
article{
	color:white;
	display: block;
	
	margin-right: auto;
}